
.home {
    font-family: cursive;
    font-size:large;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    color: #3cbce7;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
 
  
  .home #header {
    background-color: #4682B4; /* Darker Blue header */
    color: #fff; /* White text color */
    text-align: center;
    padding: 4rem;
  }
  
  #container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .home h1 {
  border-style: dashed;
    color: #d1e7f8; /* Darker Blue header text */
  }
  
  .home p {
    color: #f1f1f9; /* Dark Blue text */
  }
